
#form
{
  background-color: rgba(25, 135, 84, 0.25);
}

#confirm-button
{
  position: relative;
  left: 45%;
}

#confirm-button:hover
{
  background-color: rgb(230, 230, 230);
  color: black;
}

#matrix {
    display: grid;
    grid-template-columns: repeat(1, 1px);
    grid-template-rows: repeat(1, 1px);
    grid-gap: 0px;
    
    justify-content:center;
    align-content:end;
    

 }
 

.cell {
    /* center the cell content */
justify-content: center;
align-items: center;
display: flex;
font-family: Arial;
font-size: 1rem;
font-weight: bold;
background: white;
border: 1px solid;
}
.cell:hover
{
  background-color: rgb(230, 230, 230);
  color: black;
}

#alignment
{
    color: black;
    
    
    
    font-size: 100%;
    
    text-align: center;
    
} 


.wrap-flex { display: flex;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold; }

.wrap-flex > * {
  width: 70%;
  float: left;
  
  
}
.left-column
{
  float: left;
  width: 60%;
}
.right-column 
{
  float: right;
  width: 80%;
}

#sequence
{
  /* text-align: center; */
}