<form id="fm_index" class="bg-success p-2 text-dark bg-opacity-50">
    <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="text" placeholder="text" aria-label="text"
            value="mississippi$" required ="on">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="pattern" placeholder="pattern" aria-label="pattern" 
          value="ssi" required ="on">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success d-grid gap-2 d-md-block" id="confirm-button-fm-index"
            onclick="runFM_Index()">Submit</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
          <input type="text" id="output" class="form-control" placeholder="output" aria-label="output" readonly>
    <br>
    <hr>

    <div class="row">
        <div class="col">
          <input type="text" class="form-control" id="reverse" placeholder="reverse your BWT here" aria-label="reverse"
            required ="on">
        </div>
    <br>
    <br>
    <div class="row">
        <div class="col">
          <input type="text" id="output_reverse" class="form-control" placeholder="output_reverse" aria-label="output_reverse" readonly>
    <br>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success d-grid gap-2 d-md-block" id="confirm-button-fm-index"
            onclick="runReverse()">Reverse</button>
        </div>
    </div>

</form>
<br>







<script src="{{url_for('static', filename='js/FM_Index.js')}}"></script>