<br>
<div class="files_upload">
    
    
    <input type="file"  id="profile_file" name="profile_file"  required ="on">

    
    <br>

    <textarea id="output_profile" name="output_profile" rows="4" cols="40">Upload your DNA sequences here:</textarea>

    <input type="number" id="motiv_len" name="motiv_len"  placeholder="motiv_len" aria-label="motiv_len"  required ="on" value="4">

    <input type="number" id="iterations" name="iterations"  placeholder="iterations" aria-label="iterations"  required ="on" value="1">
    
    
    <br>
    <button type="submit"
        onclick="runGibbs()">Ermittle Bindungsmotiv</button>

    

</div>

<div class="gibbs_outputs" id="chart_parent">
    
    <div id="chart"></div>
    <br>
    <div id="output"></div>
    
    
    <!-- <br>
    
    Das Bindungsmotiv ist wahrscheinlich:
    <br>
    <br>
    <textarea id="bindungsmotiv" name="bindungsmotiv" rows="3" cols="40"></textarea> -->


</div>

















<script src="{{url_for('static', filename='js/Gibbs.js')}}"></script>