
<style>
    body{
        text-align: center;
    }
</style>

<h1>Überschrift</h1>
<hr>
<h3>Diese Algorithmen werden implementiert</h3>
<ol> <!--fange ordered Liste an-->
    <li>(Q-Gram)</li>
    <li>(PEX)</li>
    <li>Gotoh</li>
    <li>KBand</li>
    <li>BLAST</li>
    <li>(FastA)</li>
    <li>Neighbor Joining</li>
    <li>FM-Index</li>
    <li>Suffix Array</li>
    <li>schau mal später nach mehr</li>
</ol>



<h3>Das musst du noch alles machen für das Suffix-Array:</h3>
<ol> <!--fange ordered Liste an-->
    <li>FM-Index Algos programmieren mit Suffix Array Erstellung</li>
    <li>Gibbs-Sampling</li>
    <li>Projection</li>
    <li>Meme auf numerische Fehler korrigieren</li>
</ol>