
<style>
    body{
        text-align: center;
    }
</style>

<h1>Überschrift</h1>
<hr>
<h3>Diese Algorithmen werden implementiert</h3>
<ol> <!--fange ordered Liste an-->
    <li>(Q-Gram)</li>
    <li>(PEX)</li>
    <li>Gotoh</li>
    <li>KBand</li>
    <li>BLAST</li>
    <li>(FastA)</li>
    <li>MeMe</li>
    <li>Neighbor Joining</li>
    <li>FM-Index</li>
    <li>Suffix Array</li>
    <li>schau mal später nach mehr</li>
</ol>



<h3>Das musst du noch alles machen für das Suffix-Array:</h3>
<ol> <!--fange ordered Liste an-->
    <li>Suffix-Array in C++ fertig einprogrammieren sodass ich die Zusatzpunkte erhalte</li>
    <li>sonst mache erstmal nur construct und übersetze das in Javascript</li>
    <li>gebe das Suffix-Array übersichtlich aus</li>
    <li>bei der Suche soll es pro Schritt die Hälfte der Liste grün markieren die weiter betrachtet wird <br>
    und rot, die nicht mehr betrachtet wird</li>
    <li>also es soll gesehen werden, welche Bereiche während der Suche noch betrachtet werden und welche nicht</li>
    <li>und das mittlere Element soll markiert werden</li>
</ol>


