<br>
<div class="files_upload">
    
    
    <input type="file"  id="profile_file" name="profile_file"  required ="on">

    
    <br>

    <textarea id="output_profile" name="output_profile" rows="4" cols="40">Upload your profiles here:</textarea>



    <br>
    <br>
    <br>

    

    <input type="file"  id="sequences_file" name="sequences_file"  required ="on">
    <br>

    <textarea id="output_sequences" name="output_sequences" rows="4" cols="40" > Upload your sequences here</textarea>
    <br>
    <br>
    <input type="number" id="iterations" name="iterations"  placeholder="iterations" aria-label="iterations"  required ="on">
    <br><br>
    <button type="submit" class=""
        onclick="runMeMe()">Ermittle Bindungsmotiv</button>
</div>


<div class="outputs">
    
    <br>
    
    <br>
    
    <br>
    Das Bindungsmotiv ist wahrscheinlich:
    <br>
    <textarea id="bindungsmotiv" name="bindungsmotiv" rows="3" cols="40"></textarea>


</div>

<script src="{{url_for('static', filename='js/MeMe.js')}}"></script>