<br>
<div class="files_upload">
    Upload your profiles here:
    <br>
    <br>
    <input type="file"  id="profile_file" name="profile_file">
    <br>

    <textarea id="output_profile" name="output_profile" rows="4" cols="40"></textarea>



    <br>
    <br>
    <br>

    Upload your sequences here:
    <br>
    <br>
    <input type="file"  id="sequences_file" name="sequences_file">
    <br>

    <textarea id="output_sequences" name="output_sequences" rows="4" cols="40"></textarea>
    <br>
    <br>
    
</div>


<div class="outputs">
    The w-matrix
    <br>
    
    <br>
    <button type="submit" class=""
        onclick="runMeMe()">Ermittle Bindungsmotiv</button>
    <br>

    <textarea id="w_matrix" name="w_matrix" rows="4" cols="70"></textarea>


</div>





<script src="{{url_for('static', filename='js/MeMe.js')}}"></script>