<div class="bg-success p-2 text-dark bg-opacity-50" id="form">

    
    <div class="col">
    <input type="text" class="form-control" id="sequence" placeholder="sequence" aria-label="sequence" 
    value="GGUCCACAU">
    </div>
</div>

<div class="row">
    <div class="col">
      <button type="submit" class="btn btn-success d-grid gap-2 d-md-block" id="confirm-button"
        onclick="getMatrix();">Bestätigen</button>
    </div>

</div>

<br>
<div id="matrix" class="left-column-nussinov">
</div>

<code id="rna">
</code>

















<script src="{{url_for('static', filename='js/Nussinov.js')}}"></script>